/* Styling for page header -- Club's title */
h1.page-header {
  background-color: var(--nav-blue);
  color: var(--nav-bg-font);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.035rem;

  text-align: center;
  /* word-wrap: break-word; */

  padding: 1rem;
  margin: 0;
}

/* Overwritting bootstrap styling for the navbar */
nav.navbar {
  /* Defining the background colour of the navbar*/
  background-color: var(--dark-bg) !important;

  padding: 0 1.5rem;

  /* Remove the outline that appears on <a> <button> focus */
  :active,
  :focus {
    outline: none;
  }

  // ! Change these the the appropriate colours on hover
  /* Styling the font for the Navbar elements */
  #basic-navbar-nav .navbar-nav a,
  #basic-navbar-nav .navbar-nav .show.dropdown.nav-item {
    color: var(--nav-bg-font);

    // ! Change this for spacing between navbar items
    // padding: 15px 5px;

    &:hover {
      background-color: var(--dark-bg-hover);
      color: var(--nav-bg-font);
    }
  }
}

// ! Change these the the appropriate colours on hover
/* Overwritting bootstrap styling for the navbar dropdowns */
nav.navbar #basic-navbar-nav .navbar-nav .dropdown .dropdown-menu {
  background-color: var(--dark-bg);
  color: var(--nav-bg-font);

  a:hover {
    background-color: var(--dark-bg-hover);
    border-radius: 5px;
  }
}

/* Following is styles for right-side of navbar */
.navbar #basic-navbar-nav .nav-link {
  color: var(--nav-default);
  padding: 0.625rem;

  font-size: 0.875rem;
  font-weight: 400;

  transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

/* Maintain highlight on NavDropown when dropdown menu has opened  */
.navbar .show.dropdown.nav-item .dropdown-toggle.nav-link {
  color: var(--nav-hover) !important;
}

/* Overwritting style for the navbar's dropdown */
.navbar #basic-navbar-nav .dropdown-menu {
  box-shadow:
    0 0.5rem 4rem rgba(0, 0, 0, 0.11),
    0 10px 20px rgba(0, 0, 0, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.06);
  border-radius: 0.375rem;

  .dropdown-item {
    &:hover {
      background-color: var(--nav-dropdown-bg-hover);
    }
    
    &.active {
      color: var(--nav-active);
      background-color: var(--nav-dropdown-bg-active);
      
      &:hover {
        background-color: var(--nav-dropdown-bg-active);
      }
    }
  
    a {
      color: var(--nav-dropdown-font);
      text-decoration: none;
    }
  }
}

.navbar #basic-navbar-nav .dropdown-menu a.dropdown-item {
  color: var(--nav-dropdown-font);
  font-weight: 300;
  font-size: 0.9375rem;

  padding: 0.5rem 1.25rem
}

