/* Styling for the Council Text in the header */
.page-header {
  background-color: var(--nav-blue);
  color: var(--nav-bg-font);

  text-align: center;
  word-wrap: break-word;
  font-size: 20px;

	padding: .8em;
	margin: 0;
}

/* Styling for the navbar */
.navbar { 
  background-color: var(--dark-bg); 
	width: 100%;
  height: 60px;
}

/* Following is style guide used on the NAV DIVIDER */
.navbar .vertical-line{
  width: 2px;
  background-color: var(--nav-bg-font);
  height: 55%;
  float: left;
  margin: 13px;
}

/* Following is style guide used on the LOGO */
.navbar .zoo-logo {
	line-height: 55px;
	float: left;
	margin: 10px 20px;
	padding: 0;
	width: 40px;	/* Image dimensions */
}


.navbar .navbar-nav .nav-item {
	float: left;
	list-style: none;
	position: relative;		/* allows use of absolute to sub-items */
}

/* Unordered list, list items (anchored) */
.navbar .navbar-nav .nav-item a {
	display: block;
	color: var(--nav-bg-font);
	line-height: 18px;
	font-size: 15px;
	padding: 21px 18px;
	text-decoration: none;
}

/* Different padding due to dropdown arrow */
.navbar .navbar-nav .nav-item:nth-child(even) a{
  padding: 21px 27px 21px 15px
}

/* Highlight color when hovering over nav */
.navbar .navbar-nav .nav-item a:hover {background-color: #767475;}

/* Unordered list, list items, unordered list */
.navbar .navbar-nav .nav-item ul {
	display: none;
  position: absolute;
  
  background-color: var(--dark-bg);
  
	border-radius: 0px 0px 4px 4px;
	z-index: 2;
}

.navbar .navbar-nav .nav-item:hover ul {display: block;}

/* Two different widths as the text in council is smaller than sponsors */
.navbar .navbar-nav .nav-item ul .sponsor-dropdown {
	width: 185px;
	border-radius: 4px;
}

.navbar .navbar-nav .nav-item ul .council-dropdown {
	width: 160px;
	border-radius: 4px;
}

.navbar .navbar-nav .nav-item ul li a {padding: 10px 14px;}

.navbar .navbar-nav .nav-item ul li a:hover {
	background-color: #767475;
	width: auto;
	border-radius: 4px;
}

.navbar img.arrow {
	width: 7px;
  padding: 8px 10px 0px 6px;
  position: absolute;
}

/* Tablet Formatting */
@media screen and (max-width: 960px) {

}

/* Mobile Formatting */
@media screen and (max-width: 640px) {

}