/* Following is style guide used on TO-TOP BUTTON */
.to-top {
  background-color: var(--dark-bg);

  position: fixed;
  padding: 10px;
  bottom: 25px;
  right: 40px;
  z-index: 4;

  font-size: 20px;

  border: .5px solid;
  cursor: pointer;
  border-radius: 4px;
  /* display: none; */

  transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);

  /* Defining color of svg arrow*/
  svg path {
    color: var(--nav-bg-font);
  }

  &:hover {
    background-color: var(--dark-bg-font);
  }

  /* Removes box that outlines object on click */
  :active,
  :focus,
  &:active,
  &:focus {
    outline: none;
  }
}

/* Mobile Specific Formatting */
@media screen and (max-width: 480px) {
  .to-top {
    bottom: 20px;
    right: 25px;
  }
}
