.page--body.contact-us {
  .page--title.contact-us {
    padding-left: 25px;
    padding-right: 25px;
  }

  p.page--description.contact-us {
    text-align: center;
    padding: 0 15%;
    margin: 0 0 1rem;
  }
}

/* Updates Mobile Styling */
@media (max-width: 992px) {
  .page--body.commissioner {
    p.page--description.commissioner {
      padding: 0 5rem;
    }
  }
}

@media (max-width: 768px) {
  .page--body.commissioner {
    p.page--description.commissioner {
      padding: 0 3rem;
    }
  }
}
