.page--body.merch {
  padding: 0 35px 50px;
  text-align: center;

  hr {
    width: 80%;
    margin: 60px auto 0;
  }

  .page--description.merch {
    justify-content: center;
    width: 80%;
    margin: 0px auto;
  }
}

div.form-container {
  width: 75%;
  height: 600px;

  padding: 15px;
  margin: 0 auto;

  border-radius: 25px;
  background: #ababab12;
  background-color: #fff;
  box-shadow: var(--box-shadow);

  iframe {
    display: block;

    height: 95%;
    width: 100%;

    margin: 15px 0;
  }
}
